TraitementSTG/src/conf/xml-resources/web-service-references/ServiceMetadata/wsdl/localhost_8080/ServiceMetadata.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="generator" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="generator"><xs:import schemaLocation="http://localhost:8080/ServiceMetadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common"/><xs:element name="connection"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="oSTG" nillable="true" type="q1:STG" xmlns:q1="http://schemas.datacontract.org/2004/07/Common"/></xs:sequence></xs:complexType></xs:element><xs:element name="connectionResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="connectionResult" nillable="true" type="q2:STG" xmlns:q2="http://schemas.datacontract.org/2004/07/Common"/></xs:sequence></xs:complexType></xs:element><xs:element name="callback"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="reponse" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="callbackResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>