TraitementSTG/src/conf/wsdl/localhost_8080/ServiceMetadata.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Common"><xs:import schemaLocation="http://localhost:8080/ServiceMetadata?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:complexType name="STG"><xs:sequence><xs:element minOccurs="0" name="Info" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Operationname" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Status_op" type="xs:boolean"/><xs:element minOccurs="0" name="TokenApp" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="TokenUser" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="data" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></xs:sequence></xs:complexType><xs:element name="STG" nillable="true" type="tns:STG"/></xs:schema>